services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - API_URL=http://search.mingas.by:3000/api
        - BASE_URL=http://search.mingas.by:3000
    container_name: frontend
    ports:
      - "8080:80"
    networks:
      - appnet

networks:
  appnet:
    external: true
    name: appnet
